# Primer variables

In [5]:
contador = 5
frases = "222aas"
verificador = True
pi_number = 3.14 #Snake case

In [8]:
c2 = 4
Casa = 2
casa = 1
print("C =", Casa)
print("c =", casa)

C = 2
c = 1

In [19]:
# Tipos de variables
# int, float, str, bool

a = 5
b = "Hola"
c = 3.14
d = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [34]:
# Salida de datos por consola
print("hola Estafani")
variable = "hola"
print(variable)

print("Texto", variable)
print(variable, "Texto", variable)

hola Estafani
hola
Texto hola
hola Texto hola

In [38]:
# conversión de tipos

a = "4" # str to int
print("tipo al comienzo")
print(type(a))
print("tipo al tranformar")
a_tranformada = int(a)
print(type(a_tranformada))
print(a_tranformada)

b = 5

c = int(a) + b
print(c)

# transformadas de int a str
d = 15
d_transformada = str(d)
print(type(d_transformada))
print(d_transformada)

# conversiones automatica
a = 2 # int
b = 3.5 # float
c = a + b
print("Operacion entre int y float")
print(c)

tipo al comienzo
<class 'str'>
tipo al tranformar
<class 'int'>
4
9
<class 'str'>
15
Operacion entre int y float
5.5

## Operadores

In [39]:
# Operador aritméticos
a = 10
b = 3
print(a + b)   # 13 (suma)
print(a - b)   # 7  (resta)
print(a * b)   # 30 (multiplicación)
print(a / b)   # 3.333... (división real)
print(a // b)  # 3 (división entera)
print(a % b)   # 1 (módulo: residuo)
print(a ** b)  # 1000 (potencia)

13
7
30
3.3333333333333335
3
1
1000

In [41]:
# comparaciones 
x = 5
y = 8
print(x == y)   # False (igualdad)
print(x != y)   # True  (diferente)
print(x < y)    # True
print(x <= y)   # True
print(x > y)    # False
print(x >= y)   # False

False
True
True
True
False
False

In [44]:
# Logico
edad = 20
tiene_permiso = True
no_tiene_permiso = False

print(edad >= 18 and tiene_permiso)  # True (las 2 condiciones)
print(edad >= 18 and no_tiene_permiso)  # False (una condición es falsa)
print(edad < 18 or tiene_permiso)    # True (al menos 1 condición)
print(not tiene_permiso)             # False (negación)
print(not no_tiene_permiso)

True
False
True
False
True

In [46]:
# Operadores de asignación compuesta
x = 10
x += 5   # x = x + 5 → 15
print(x)
x -= 3   # x = x - 3 → 12
print(x)
x *= 2   # x = x * 2 → 24
print(x)
x /= 4   # x = x / 4 → 6.0

print(x)

15
12
24
6.0

In [49]:
#pertenencia
frutas = ["manzana", "pera", "uva"]

print("pera" in frutas)     # True
print("carro" not in frutas)  # True
print("naranja" in frutas)  # False

True
True
False

# Texto y formato

In [51]:
texto = "Python"
print(texto[0:2])   # Py
print(texto[2:])    # thon
print(texto[:4])    # Pyth
print(texto[-3:])   # hon (últimos 3 caracteres)

Py
thon
Pyth
hon

In [57]:
cadena = "  Hola Mundo  "

print(cadena.lower())        # "  hola mundo  " (minúsculas)
print(cadena.upper())        # "  HOLA MUNDO  " (mayúsculas)
print(cadena.strip())        # "Hola Mundo" (quita espacios extremos)
print(cadena.replace("Mundo", "Guayerd"))  # "  Hola Python  "

  hola mundo
  HOLA MUNDO
Hola Mundo
  Hola Guayerd

In [59]:
# caracteres especiales
print("Primera línea\nSegunda línea")  
# Salto de línea

print("Columna1\tColumna2")  
# Tabulación
print(f"hola {cadena}")

Primera línea
Segunda línea
Columna1	Columna2
hola   Hola Mundo

In [62]:
# input y output
ingreso = input("Escriba l que quiera")
print(ingreso)

estoy ingresando data en la terminal

In [68]:
# listas 
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list_letras = ["a", "b", "c", "d"]
list_frases = ["hola", "mundo", "python"]

print(numeros[2:6])      # [2, 3, 4, 5]  (del índice 2 al 5)
print(numeros[:4])       # [0, 1, 2, 3]  (del inicio al 3)
print(numeros[5:])       # [5, 6, 7, 8, 9]  (del índice 5 hasta el final)

print(list_frases[0])
print(list_frases[1])
print(list_frases[2])

[2, 3, 4, 5]
[0, 1, 2, 3]
[5, 6, 7, 8, 9]
hola
mundo
python

In [69]:
# Con varios valores
colores = ("rojo", "verde", "azul")
print(colores)          # ('rojo', 'verde', 'azul')
print(type(colores))    # <class 'tuple'>

# Con un solo valor (necesita la coma final)
unico = ("amarillo",)
print(unico)            # ('amarillo',)

('rojo', 'verde', 'azul')
<class 'tuple'>
('amarillo',)

In [76]:
# Sets o conjuntos
# Con llaves {}
frutas = {"manzana", "pera", "naranja", "manzana","manzana", "manzana" }
print(frutas)
print(frutas)          # {'pera', 'manzana', 'naranja'}  (no hay duplicados)
print(type(frutas))    # <class 'set'>

# Con la función set()
vocales = set(["a", "e", "i", "o", "u"])
print(vocales)         # {'a', 'e', 'i', 'o', 'u'}

{'pera', 'naranja', 'manzana'}
{'pera', 'naranja', 'manzana'}
<class 'set'>
{'a', 'o', 'i', 'u', 'e'}

In [79]:
# Diccionarios 
persona = {"nombre": "Ana", "edad": 30, "altura": 1.65}   # dict
print(persona["nombre"])
print(persona["edad"])
print(persona["altura"])

Ana
30
1.65